body{

margin:0;

font-family: -apple-system, BlinkMacSystemFont, sans-serif;

background: radial-gradient(circle at top,#1f2937,#020617);

color:white;

direction:rtl;

}

/* navbar */

header{

display:flex;

justify-content:space-between;

padding:20px 60px;

background: rgba(255,255,255,0.05);

backdrop-filter: blur(20px);

border-bottom:1px solid rgba(255,255,255,0.1);

}

.logo{

font-size:24px;

font-weight:700;

}

nav a{

color:white;

text-decoration:none;

margin-left:20px;

opacity:0.8;

}

/* hero */

.hero{

display:flex;

align-items:center;

justify-content:space-between;

padding:80px;

}

/* text */

.hero-text h1{

font-size:70px;

margin:0;

}

.hero-text h2{

color:#facc15;

letter-spacing:3px;

margin:10px 0;

}

.hero-text p{

opacity:0.8;

margin-top:10px;

}

.btn{

display:inline-block;

margin-top:30px;

padding:14px 30px;

border-radius:14px;

background: rgba(255,255,255,0.1);

backdrop-filter: blur(10px);

border:1px solid rgba(255,255,255,0.2);

color:white;

text-decoration:none;

}

/* image */

.hero-image img{

width:420px;

border-radius:20px;

}

/* features */

.features{

display:flex;

justify-content:center;

gap:30px;

margin:60px;

}

.glass-card{

padding:25px;

border-radius:20px;

background: rgba(255,255,255,0.08);

backdrop-filter: blur(20px);

border:1px solid rgba(255,255,255,0.2);

}
