body{
margin:0;
font-family:Arial;
direction:rtl;
background:#f3f4f6;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#1e40af;
color:white;
}

nav a{
margin:10px;
color:white;
text-decoration:none;
}

.hero{
text-align:center;
padding:100px;
background:#3b82f6;
color:white;
}

button{
padding:10px 20px;
border:none;
background:white;
cursor:pointer;
}
