*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#020617;

color:white;

direction:rtl;

}

/* navbar */

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 60px;

background:#020617;

border-bottom:1px solid rgba(255,255,255,0.08);

}

.logo{

font-size:22px;
font-weight:bold;

}

nav a{

color:white;

text-decoration:none;

margin-left:20px;

opacity:0.8;

transition:0.3s;

}

nav a:hover{

color:#facc15;

}

/* hero */

.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:100px 80px;

}

.hero-text h1{

font-size:70px;

}

.hero-text h2{

color:#facc15;

margin:10px 0;

letter-spacing:3px;

}

.hero-text p{

opacity:0.8;

margin-top:10px;

}

.btn{

display:inline-block;

margin-top:30px;

background:#facc15;

color:#020617;

padding:14px 30px;

border-radius:10px;

text-decoration:none;

font-weight:bold;

}

.hero-image img{

width:480px;

border-radius:20px;

}

/* features */

.features{

display:flex;

justify-content:center;

gap:30px;

margin:60px;

flex-wrap:wrap;

}

.feature{

background:#1e293b;

padding:20px 30px;

border-radius:14px;

border:1px solid rgba(255,255,255,0.08);

}

/* courses */

.courses{

padding:60px 80px;

text-align:center;

}

.section-title{

font-size:32px;

margin-bottom:40px;

}

.course-grid{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}

.course-card{

background:#1e293b;

padding:30px 40px;

border-radius:14px;

border:1px solid rgba(255,255,255,0.08);

transition:0.3s;

}

.course-card:hover{

background:#263449;

transform:translateY(-6px);

}

/* footer */

footer{

background:#020617;

padding:50px 80px;

border-top:1px solid rgba(255,255,255,0.08);

margin-top:80px;

}

.footer-content{

display:flex;

justify-content:space-between;

flex-wrap:wrap;

margin-bottom:20px;

}

.contact a{

color:#facc15;

text-decoration:none;

}

.copyright{

text-align:center;

opacity:0.6;

font-size:14px;

}
